body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slideContainer {
  position: absolute;
  right: 15px;
  top: 15px;
}
canvas {
  border: 1px dotted red;
  padding: 80px;
  background-color: lightgray;
}